/* 
.inventory-containerg-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.left-column-g11 {
  text-align: center;
}


.nav-list-g12 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list-g12 li {
  margin: 10px 0;
}

.tab-button-g14 {
  width: 100%; 
  height: 40px; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.tab-button-g14:hover {
  background-color: #0056b3;
}

.nav-link-g13 {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
} */
