/* Supplier.css */

.supplier-container {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
  }
  
  .supplier-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .supplier-list {
    list-style: none;
    padding: 0;
  }
  
  .supplier-list li {
    margin-bottom: 10px;
  }
  
  .supplier-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .supplier-link:hover {
    background-color: #e0e0e0;
    color: #00f;
  }
  
  .supplier-button {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  
  .supplier-button:hover {
    background-color: #0056b3;
  }
   