/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333; /* Added text color */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form input {
  padding: 15px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

form button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45a049;
}
/*
ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul li button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

ul li button:hover {
  background-color: #c0392b;
}
*/
/* Additional styles */
.container button[type="button"] {
  background-color: #3498db; /* Corrected button color */
  font-weight: bold;
}

.container button[type="button"]:hover {
  background-color: #2980b9; /* Corrected button hover color */
}

.container a {
  color: #3498db;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.container a:hover {
  color: #1b6d85;
}

/* Responsive design */
@media (max-width: 600px) {
  .container {
    padding: 20px;
    max-width: 90%;
  }
  
  h1 {
    font-size: 24px;
  }
}
